<!DOCTYPE html>
<html>
  <head>
    <meta type="utf-8">
    <meta name="keywords" content="{{ escape(handler.settings['keywords']) }}">
    <meta name="description" content="{{ escape(handler.settings['desc']) }}">
    <!--[if IE]>
    {% if handler.settings['debug'] is True %}
      {{ static_url('css/ie-style.css') }}
    {% else %}
      <link rel="stylesheet" href="{{ static_url('css/ie-style.min.css') }}">
    {% end %}
    <![endif]-->
    <title>{% block title %}{% end %} - {{ escape(handler.settings['title']) }}</title>
    {% if handler.settings['debug'] is True %}
      <link rel="stylesheet" href="{{ static_url('css/frontend.css') }}">
    {% else %}
      <link rel="stylesheet" href="{{ static_url('css/frontend.min.css') }}">
    {% end %}
  </head>
  <body>
    <div id="container">
      <div id="logo">
        <a href="/"><img src="/static/img/logo.png" width="222" height="206"></a>
        <p>不要因为工作 学习 忙碌 而忽视了生活.</p>
      </div>
      <div id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <!--<li><a href="/gallary">Gallary</a></li>-->
          <li><a href="/about">About Me</a></li>
        </ul>
      </div>
      {% block content %}
      {% end %}
      <div id="sidebar">
        <img src="/static/img/archive.png" title="Archieve" alt="Stupid image won't show">
        <ul id="side-cats">
          {% for i in categories %}
          <li class="cat-item"><a href="/category/{{ i.get('_id') }}" title="{{ i.get('name') }}">{{ i.get('name') }}({{ i.get('diaries_num') }})</a></li>
          {% end %}
        </ul>
        <img id="recent-comments-title" src="/static/img/recentcomments.png" title="Recent Comments" alt="Stupid image won't show">
        <ul id="recent-comments">
          <li><a href="http://xsky.me/" title="空の領域">空の領域</a>: 小天的博客...坑爹女一枚...</li>
          <li><a href="http://www.youmeek.com/" title="YouMeek">YouMeek</a>: Judas.n的博客...低调男一枚...</li>
          <li><a href="javascript:void(0)" title="交换链接">交换链接</a>: 交换链接可以留言...博客收入现已均衡...谢绝下三烂的广告提供...</li>
        </ul>
      </div>
    </div>
    {% block script %}{% end %}
    {% if handler.settings['debug'] is True %}
      <script type="text/javascript" src="{{ static_url('js/frontend.js') }}"></script>
    {% else %}
      <script type="text/javascript" src="{{ static_url('js/frontend.min.js') }}"></script>
      {{ handler.settings['analytics'] }}
      {{ handler.settings['customsearch'] }}
      <gcse:search></gcse:search>
      <div id='cloudy' class="gsc-modal-background-image" tabindex="0"></div>
    {% end %}
  </body>
</html>
