{% extends "../base.html" %}
{% block title %} {{ detail.get('name') }} {% end %}
{% block content %}
<div id="content-container">
  {% for i in sorted_diaries %}
  <div class="post">
    <h1><a class="post-title" href="/diary/detail/{{ i.get('did')}}" title="{{ escape(i.get('title')) }}">{{ escape(i.get('title')) }}</a></h1>
    <div class="author"><span>作者:</span> <a>{{ profile.get('name')}}</a>&nbsp;<span>日期:</span> {{ i.get('publish_time') }}</div>

    <p>详细阅读... <a href="/diary/detail/{{ i.get('did')}}" class="more-link">(more…)</a></p>

  </div>
  {% end %}
</div>
<div id="bottom-paging">
    {% try %}
        {% if int(page)-1 > 0 %}<a href="/category/{{cid}}/page/{{ int(page)-1 }}">« Newer Posts</a>{% end %} — {% if next_page == True %}<a href="/category/{{cid}}/page/{{ int(page)+1 }}">Older Posts »</a>{% end %}
    {% except %}
        {% if next_page == True %}<a href="/category/{{cid}}/page/2">Older Posts »</a>{% end %}
    {% end %}
</div>  
{% end %}
