{% extends "../base.html" %}
{% block title %} 添加日志 {% end %}
{% block content %}
<h5 class="no-marg-top subheader">在此进行您的文章编辑。</h5>
<form action="" method="post" class="custom">
  <fieldset>
	<legend>添加新文章</legend>
    {{ xsrf_form_html() }}
    <label>题目:</label>
    <input type="text" name="title">
    <input type="hidden" name="c_id" id="category_id" value="none">
    <div class="diary-action">
      <label for="categories_select">文章分类:</label>
      <select name="category_name" id="categories_select" style="width:148px;">
        <option selected="selected">未分类</option>
        {% for c in categories %}
        <option cid="{{ c.get('_id') }}">{{ c.get('name') }}</option>
        {% end %}
        <option>创建新分类</option>
      </select>
      <a href="javascript:void(0)"  class="tiny secondary button radius right" id="add_photo">图片</a>
    </div>
    <br />
    <label>正文:</label>
    <textarea name="content" class="xxlarge"></textarea>
    <input type="submit" value="发表" class="round small button">
  </fieldset>
</form>
{% end %}
{% block leftbar%}
    {% module Template("Admin/Modules/_leftbar.html", current=1.1) %}
{% end %}
{% block script %}
<div id="add_photo_modal" class="reveal-modal">
  <h5>添加图片.</h5>
  <button id="up_image" class="normal radius small button">上传图片</button>
  <input type="text" id="up_image_bak_url" />
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="add_category_modal" class="reveal-modal">
  <label>分类名称:</label>
  <input type="text" id="add_category_input" />
  <button id="do_add_category" class="normal radius small button">确定</button>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% end %}
