{% extends "../base.html" %}
{% block title %} 网站设置 {% end %}
{% block content %}
<h5 class="no-marg-top subheader">在此对您的网站进行设置选项。</h5>
  <form action="" method="post">
    <fieldset>
     {{ xsrf_form_html() }}
    <div class="row">
      <div class="columns">
        <label class="right inline">网站标题:</label>
      </div>
      <div class="eleven columns">
        <input type="text" placeholder="e.g:Admin的博客" class="eight">
      </div>
      <div class="one columns">
        <label class="right inline">用户名:</label>
      </div>
      <div class="eleven columns">
        <input type="text" class="three">
      </div>
      <div class="one columns">
        <label class="right inline">密码:</label>
      </div>
      <div class="eleven columns">
        <input type="password" class="three">
      </div>
    </div>
    <input type="submit" value="提交" class="round small button">
    </fieldset>
  </form>
{% end %}
{% block leftbar%}
    {% module Template("Admin/Modules/_leftbar.html", current=5) %}
{% end %}
