{% extends "../base.html" %}
{% block title %} 评论管理 {% end %}

{% block content %}
  <table class="twelve comment" id="comments_list_table">
    <thead>
      <tr>
        <th>作者</th>
        <th style="min-width: 100px;">评论</th>
        <th>文章标题</th>
        <th>提交于</th>
      </tr>
    </thead>
    <tbody>
      {% for i in comments %}
      <tr>
        <td class="role">{{ i.get('user') }}</td>
        <td class="comment-content">
          <div class="line-one">{{ escape(i.get('content')) }}</div>
          <div class="row-actions hide">
            <a href="javascript:void(0)" class="reply" cid="{{ i.get('_id') }}" did="{{ i.get('did') }}" email="{{ i.get('email') }}" title="{{ escape(i.get('diary_title')) }}" data-reveal-id="reply-modal">回复</a>
            <a href="#" class="rubbish">垃圾评论</a>
            <a href="javascript:void(0)" cid="{{ i.get('_id') }}" class="delete comment_del" did="{{ i.get('did') }}">删除</a>
          </div>
        </td>
        <td class="diary-title"><a>{{ escape(i.get('diary_title')) }}</a></td>
        <td class="diary-time">{{ i.get('publish_time') }}</td>
      </tr>
      {% end %}
    </tbody>
  </table>

  <div class="page-nav">
    {% if int(page)-1 > 0 %}
      <a class="left" href='/admin/comments/all-comment/{{ int(page)-1 }}'>上一页</a>
    {% end %}
    {% if int(page) != limit %}
      <a class="right" href='/admin/comments/all-comment/{{ int(page)+1 }}'>下一页</a>
    {% end %}
  </div>

{% end %}
{% block leftbar %}
    {% module Template("Admin/Modules/_leftbar.html", current=6) %}
{% end %}
{% block script %}
<div id="reply_modal" class="reveal-modal">
  <h2>评论回复.</h2>
  <p>内容</p>
  <textarea></textarea>
  <button id="do_reply" class="success radius small button">提交</button>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% end %}
