<section id="sidebar" role="complementary">
  <ul class="tabs vertical hide-on-phones">
    <li {% if current == 0 %} class='active' {% end %}><a href="/admin">仪表盘</a></li>
    <li {% if current == 1 or current == 1.1 %} class='active' {% end %}>
      <a href="/admin/all-post/1">文章</a>
      <ul{% if current == 1 or current == 1.1 %}{% else %} class='hide' {% end %}>
        <li {% if current == 1 %} class='active' {% end %}>
          <a href="/admin/all-post/1">所有文章</a>
        </li>
        <li {% if current == 1.1 %} class='active' {% end %}>
          <a href="/diary/add">写文章</a>
        </li>
      </ul>
    </li>
    <li {% if current == 2  or current == 2.1 %} class='active' {% end %}>
      <a href="/admin/gallary/all-gallary">相册</a>
      <ul{% if current == 2 or current == 2.1 %}{% else %} class='hide' {% end %}>
        <li {% if current == 2 %} class='active' {% end %}>
          <a href="/admin/gallary/all-gallary">所有相册</a>
        </li>
      </ul>
    </li>
    <li {% if current == 3 %} class='active' {% end %}><a href="/admin/comments/all-comment/1">评论</a></li>
    <li {% if current == 4 %} class='active' {% end %}><a href="/admin/category">分类管理</a></li>
  </ul>
</section>
